html, body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #b9c7f2;
  margin-top: 0px;
  letter-spacing: 0.003em;
  background-image:linear-gradient(135deg, transparent 0%, #fff 45%, #fff 55%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
}

figure {
  width: 100%;
  margin: 0;
  float: left;
  position: relative;
  cursor: pointer;
}

.icon
{
  width: 32px;
  height: 32px;
  background-size: contain;
  display: inline-block;
}

#linkedin { background-image: url('../images/li.png'); }
#email { background-image: url('../images/icon_email.png'); }


figure:before,
figure:after {
  position: absolute;
}
figure:before {
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -36px;
  margin-left: -36px;
  content: url(../images/gif.png);
}
figure.play:before {
  display: none;
}

.gif
{
    background-image: url(../images/gif.png);
    background-repeat: no-repeat;
    background-size: 72px 72px;
    background-position: 0 0;
    height: 72px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 72px
}




#wrap
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 50px; 
  height: auto; 
  width: auto;
}

.header
{
  width: 100%;
  margin: auto;
}

.slide
{
  width: 80%;
  max-width: 1800px;
  min-height: 75%;
  color: #000;
  position: absolute;
  top: 14%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  text-align: left;
  overflow: visible;
}

.label
{
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  padding: 5px;
  line-height: normal;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

.code
{
  background-color: #492E34;
  content: "Script";
}

.gamedesign
{
  background-color: #7C334B;
  content: "Game Design";
}

.leveldesign
{
  background-color: #A63661;
  content: 'Level Design';
}

.vfx
{
  background-color: #C83456;
  content: "VFX";
}

.two-d
{
  background-color: #F65E43;
  content: "2D Art";
}


.screenshot {
  width: 65%;
  min-width: 2px;
  position: relative;
  display: block;
  float: left;
  clear: left;
  height: 0;
  padding-top: calc(0.65 * 56.25%);
  overflow: hidden;
  background-size: 100%;
  box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-right: 30px; /* Adjusted to add space between image and text */
}
.intro-image {
  display: block;
  margin: 0 auto 20px; /* Centers the image and adds spacing below */
  max-width: 40%; /* Shrinks image size by 25% */
  height: auto; /* Maintains aspect ratio */
}

ul
{
  padding: 2;
  font-weight: bold;
}

li 
{ 
  margin-left: -1em;
  margin-bottom: 10px; /* Adjust the value as needed for desired spacing */
}

.video
{
  width: 65%;
  min-width: 2px;
  position:relative;
  display: block;
  float: left;
  clear: left;
  height: calc(0.65 * 56.25%)*4;
  overflow: hidden;
  background-size: 100%;
  margin-right: 25px;
  box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

/* different aspect ratios for images */
.threetwo
{
  padding-top: calc(0.66 * 66.66%);
}

.fourthree
{
  padding-top: calc(0.66 * 75%);
}

.square
{
  width: 39%;
  padding-top: calc(0.39 * 100%);
}

.youtube
{
  border-width: 0px;
  border-radius: 4px;
}

.screenshot iframe, .screenshot object, .screenshot embed
{
  position:absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

/* Adjust description styling for vertical layout */
.description, .description-me {
  width: 30%; /* Adjust width to fit next to .screenshot */
  margin: 0;
  padding-left: 10px; /* Adds a bit more space if desired */
  text-align: left; /* Left align text */
  float: left;
}

@media only screen and (max-width: 1280px)
{
  .description, .description-me
  {
      font-size: 0.9em;
  }
}

@media only screen and (max-width: 768px)
{

.video, .screenshot {
  width: 100%; 
  height: auto; 
  margin: 20px 0; 
}

  .square
  {
    width: 100%;
    padding-top: 100%;
  }

  .youtube
  {
    height: 100%;
  }

  .description, .description-me
  {
    clear: left;
    margin-top: 2em;
    margin-left: 400px;
    margin-right: 0px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 100%;
    overflow-y: auto;
    height: auto;
  }

 /* Update the width and height to fit vertically */
.slide {
  width: 80%;
  max-width: 1800px;
  min-height: 75%;
  color: #000;
  position: absolute;
  top: 14%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  text-align: left; /* Ensures content inside slide is left-aligned */
  overflow: visible;
}

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
  }
    .rsDefault .rsArrow
  {
  width: 44px;
  }

}


.bold
{
  font-weight: bold;
}

.title-project
{
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: #2e313a;
  margin-top: 0px;
  /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);*/
  margin-bottom: -1rem;
  padding-bottom: -1rem;
}

.intro
{
  max-width: 640px;
  min-height: 240px;
  text-align: center;
  margin: auto;
  margin-top: -50px;
}

.verticalalign
{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#title
{
  font-family: 'Roboto', sans-serif;
  font-size: 55pt;
  font-weight: normal;
  width: 100%;
  font-style: normal;
  color: #2e313a;
  margin-top: 5%;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
  margin-bottom: 0px;
}

#sub-title
{
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  font-weight: normal;
  font-style: normal;
  color: #2e313a;
  margin-bottom: 0px;
  margin-top: -0.5em;
  text-align: right;
  margin-right: 15px;
  letter-spacing: 0.003em;
}

#intro-text
{
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #2e313a;
  margin-bottom: 1em;
  margin-top: 2em;
  line-height: 2em;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.003em;
}

#intro-text a:link, #intro-text a:visited, #intro-text a
{
  color: #000;
  text-decoration: none;
}

.icon
{
  width: 32px;
  height: 32px;
  background-size: contain;
  display: inline-block;
}

#linkedin { background-image: url('../images/icon_in.png'); }
#email { background-image: url('../images/icon_email.png'); }
#fb { background-image: url('../images/icon_fb.png'); }

#contact
{
  display: inline-block;
  text-align: center;
  width: 96px*3;
}

#contact a:link, #contact a:visited, #contact a
{
  color: #000;
  font-style: italic;
  text-decoration: none;
}

#contact a:hover, #contact a:active
{
  cursor: pointer;
  color: #000;
  font-style: italic;
  text-decoration: underline;
}

.space
{
  margin-right: 0.5em;
}

a:link,a:visited,a
{
  /*color: #f03;*/
  color: #000;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

a:hover,a:active
{
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  color: #000;
}

